*{
    margin: 0;
    padding: 0;
}

.btn-login{
    border: 0;
    width: 90%;
    background-color: #018b92;
    color: white;
    border-radius: 4px;
    padding: 5px;
}
p{
    color: white;
}

input{
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 7px;
    height: 25px;
}

.radio-div{
    border: 1px solid rgb(0, 0, 0, 0.2);
    width: 45%;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select-div{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    
}
.select{
    border: 1px solid rgb(0, 0, 0, 0.2);
    width: 75%;
    border-radius: 4px;
}
select{
    width: 100%;
    border: 0;
    padding: 7px;
}

.container div {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;
  }
  
  .container  div input {
    position: absolute;
    left: -9999px;
  }
  
  .container div input:checked + span {
    background-color: #018b92;
    width: 100%;
    color: white;
  }
  
  .container div input:checked + span:before {
    box-shadow: inset 0 0 0 0.4375em #005559;
  }
  
  .container div span {
    display: flex;
    align-items: center;
    padding: 0.375em 0.75em 0.375em 0.375em;
    width: 100%;
    transition: 0.25s ease;
    color: #018b92;
  }
  
  .container div span:hover {
    background-color: #d6d6e5;
  }
  
  .container div span:before {
    display: flex;
    flex-shrink: 0;
    content: "";
    background-color: #fff;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin-right: 0.375em;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em #018b92;
  }
  
  .errorhint{
    color:red;
    background-color:#ffadad;
     padding:"5px"
  }
  .errorhintdis{
    display: none;
  }

  #root{
    margin: 0;
  }