.home-contenter{
    display: flex;
    flex-direction: column;
    width: 50vw;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.contenter-post{
    height:fit-content;
    max-height:fit-content;
    background-color:white;
    margin-top:10px; 
    display:flex;
    flex-direction:column;
    border-radius:10px;
    box-shadow: 0px 0px 5px 1px rgb(5, 5, 5, 0.25);
}
.contenter-post-night{
    height:fit-content;
    max-height:fit-content;
    background-color:#3A4750;
    color: white;
    margin-top:10px; 
    display:flex;
    flex-direction:column;
    border-radius:10px;
    box-shadow: 0px 0px 5px 1px rgb(5, 5, 5, 0.1);
}



.containing-top-post{
    display:flex;
    justify-content:space-between;
    position: relative;
    text-align:center;
    margin-left:10px;
    margin-right:10px;
    margin-top:10px;
}
.w3-modal{
    display: none; /* Hide the modal by default */
    position:absolute; /* Position the modal relative to the viewport */
    z-index: 2; /* Set the z-index to make it appear above other elements */
    right: 0;
    top: 50%;
    padding: 2%;
    width: fit-content;
    height: fit-content;
    border-radius: 4px;
    overflow:auto; /* Enable scrolling if needed */
    background-color: white; 
    color: black;
    transition: width 1s ease;
    box-shadow: 0px 0px 10px 0.1px rgb(63, 63, 63);
}
.containing-photo-username{
    display:flex;
    flex-direction:row;
    place-items:center;
    gap:10px;

}
.line{
    border-bottom: 1px solid rgb(220,220,220);
    width:96%;
    margin-left:2%;
    margin-top:5px;
}

.line-night{
    border-bottom: 1px solid #4b5053;
    width:96%;
    margin-left:2%;
    margin-top:5px;
}
.content-post{
    text-align: left;
    margin: 15px;
    margin-left: 3%;
    color:rgb(70,70,70);
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-user-select:text;
    -ms-user-select: text;
    user-select: text; 
    white-space:pre-line;
}

.content-post-night{
    text-align: left;
    margin: 15px;
    margin-left: 3%;
    color:white;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-user-select:text;
    -ms-user-select: text;
    user-select: text; 
    white-space:pre-line;
    
}
.name-user{
    -webkit-user-select:text;
    -ms-user-select: text;
    user-select: text; 
    text-align: start;
}
.icon{
    transform: rotateY(180deg);
}
.menu{
    width:"fit-content";
    height:"fit-content";
    border: 0;
    background-color: 0;
}
.menu-night{
    width:"fit-content";
    height:"fit-content";
    border: 0;
    background-color: transparent;
    color: #00ADB5;

}
.bottom-bar-post{
    display:flex;
    justify-content:space-between;
    text-align:center;
    place-items:center; 
    padding:10px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.interact-button{
    width:100%;
    border-right: 1px solid rgb(170, 170, 170);
    padding:5px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    place-items:center;
    gap:10px;
}

.interact-button-night{
    width:100%;
    border-right: 1px solid #4b5053;
    padding:5px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    place-items:center;
    gap:10px;
}



.comment{
    border: 0;
}

.gg-comment {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 20px;
    height: 16px;
    border: 2px solid;
    border-bottom: 0;
    box-shadow:
        -6px 8px 0 -6px,
        6px 8px 0 -6px
}
.gg-comment::after,
.gg-comment::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 8px
}
.gg-comment::before {
    border: 2px solid;
    border-top-color: transparent;
    border-bottom-left-radius: 20px;
    right: 4px;
    bottom: -6px;
    height: 6px
}
.gg-comment::after {
    height: 2px;
    background: currentColor;
    box-shadow: 0 4px 0 0;
    left: 4px;
    top: 4px
}




.gg-menu {
}
.gg-menu,
.gg-menu::after,
.gg-menu::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 3px;
    background: currentColor
}
.gg-menu::after,
.gg-menu::before {
    content: "";
    position: absolute;
    top: -6px
}
.gg-menu::after {
    top: 6px
}


#hashtag{
    color: #00ADB5;
}