.main{
    position: relative;
}
.contenter-nav{
    text-align: center;
    width: 15%;
    position: sticky;
    top: 10px;
    border-radius: 10px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: fit-content;
}
.btn-follow{
    background-color: 0;
    border: 0;
    border-radius: 4px;
    padding: 5px;
    color: white;
    background-color: #00ADB5;
    font-weight: bold;
    margin-right: 5px;
}
.nav-bar{
    background-color: white;
    border-radius: 10px; 
    text-align: center;
    place-items: center;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.nav-bar-night{
    background-color: #3A4750;
    border-radius: 10px; 
    text-align: center;
    place-items: center;
    margin-bottom: 10px;
    padding-bottom: 5px;
    color: white;
    box-shadow: 0px 0px 2px 1px rgb(255, 255, 255, 0.2);
}

.container {
    width: 100%;
    position: relative;
    display: inline-block;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
.cover-image {
    width: 80%;
    border-radius: 7.5px;
    height: 12vh;
    margin-top: 1vh;
}
  
  .user-image {
    width: 54px;
    position: absolute;
    bottom: -2.5vh;
    left: 50%;
    border-radius: 27px;
    transform: translateX(-50%);
    border: 1px solid #00ADB5;
}

.nameUser{
    font-weight: bold;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.id-user{
    opacity: 0.5;
}
.container-info-profile{
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-open-profile{
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color:#00ADB5;
    color:white;
    border-radius:8px;
    margin:1vh;
    height:fit-content;
    padding:1vh
}
.btn-open-profile:hover{
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgb(32, 49, 85);
}

.container-userinfo{
    margin-top: 3.5vh;
}
.menu{
    display: flex;
    place-items: center;
    margin-left: 7%;
    gap: 10px;
    margin-bottom: 7%;
}
.home{
    padding-top: 1vh;
}

.profile{
    margin-bottom: 1%;
}