.continer-post-comment{
    display: flex;
    flex-direction: row;
    justify-content: center;
    place-items:inherit;
    position:sticky;
    height: 90vh;
}
.contenter-one-post{
    width: 50%;
    margin-top: 10px;
    height: fit-content;
    justify-content: center;
    position: static;
}

.containing-comment-post{
    display:flex;
    justify-content:space-between;
    position: relative;
    text-align:center;
    margin-bottom: 10px;
    background-color: #d3d3d3;
    border-radius: 4px;
}
.contenter-comment-input{
    display: flex;
    align-items: center
}
.cont-img-input-comm{
    width: 10%;
}
.img-comment{
    width: 48px;
    height: 48px;
}
.contenter-comment-array{
    background-color: white;
    padding:10px 10px 1px 10px ;
}
.input-comment{
    border: 1px solid gray;
    margin: 5px;
    width: 80%;
    height: 40px;
    border-radius: 4px;
    font-size: 16px;
}
.btn-send-comment{
    border: 0;
    background-color: #4464ad;
    color: white;
    width: 10%;
    height: 40px;
    box-shadow: 0px 0px 5px 1px rgb(165, 165, 165);
    border-radius: 4px;
}