body{
    margin: 0;
}
.Nav{
    display: flex;
    background-color: white;
    min-height: 7vh;

}

.logo-div{
    min-width: 10%;
}

.logo{
    max-width: 50px;
    place-content: left;
}

.avatar-div{
    min-width: 10%;
}
.avatar{
    max-width: 64px;
    place-content: right;
}
.nav-div{
    display: flex;
    gap: 16px;
    min-width: 90%;
    text-align : "center";
    place-items: center;
    font-size: 19px;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: #4464AD;
}
