body{
    margin: 0;
}
.Nav{
    display: flex;
    background-color: white;
    min-height: 7vh;
    box-shadow: 0px 0px 5px 1px rgb(5, 5, 5, 0.25);
}

.NavNight{
  display: flex;
  background-color: #3A4750;
  min-height: 7vh;
  color: white;

}

.logo-div{
    min-width: 25%;
    display: flex;
    place-items: center;
    justify-content: center;
    text-align: center;
}



.avatar-div{
    min-width: 5%;
    margin-top : 5px;
    margin-bottom : 0;
}
.avatar{
    max-width: 64px;
    place-content: right;
    cursor: pointer;
}
.nav-div{
    display: flex;
    gap: 16px;
    min-width: 75%;
    text-align : "center";
    place-items: center;
    font-size: 19px;
    text-decoration: none;
}



.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 52px;
    height: 20px;
    justify-content: center;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #018b92;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
  }
  
  .sun svg {
    position: absolute;
    top: 2px;
    left: 31px;
    z-index: 1;
    width: 16px;
    height: 16px;
  }
  
  .moon svg {
    fill: #444444;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 1;
    width: 16px;
    height: 16px;
  }
  
  /* .switch:hover */.sun svg {
    animation: rotate 15s linear infinite;
  }
  
  @keyframes rotate {
   
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* .switch:hover */.moon svg {
    animation: tilt 5s linear infinite;
  }
  
  @keyframes tilt {
   
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(-10deg);
    }
  
    75% {
      transform: rotate(10deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  .input:checked + .slider {
    background-color: #018b92;
  }
  
  .input:focus + .slider {
    box-shadow: 0 0 1px #018b92;
  }
  
  .input:checked + .slider:before {
    transform: translateX(30px);
  }

  .search-bar{
    width: 100%; 
    padding: 1%;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 0 5px 1px rgb(0, 0, 0, 0.3);
  }


  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .switch{
    display: none;
  }

  .search-bar{
    width: 100%; 
    height: 4vh;
    padding: 1%;
    border-radius: 10px;
    border: 1px solid gray;
  }

  .logo{
    width: 80%;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .logo{
    max-width: 60%;
    text-align: center;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .logo{
    max-width: 40%;
    text-align: center;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .logo{
    max-width: 22%;
    text-align: center;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .logo{
    max-width: 22%;
    text-align: center;
}

}