.contenter-nav{
    text-align: center;
    width: 15%;
    border-radius: 10px;
}
.nav-bar{
    background-color: white;
    border-radius: 10px; 
    text-align: center;
    place-items: center;
}
.menu{
    display: flex;
    place-items: center;
    margin-left: 10%;
    gap: 10px;
    margin-bottom: 10%;
}
.profile{
    margin-bottom: 10%;
}