.App {
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  background-color: white;
  min-height: 100vh;
  max-height: fit-content;
  user-select: none;
}
.AppNight{
  text-align: center;
  background-color: #303841;
  font-family:Arial, Helvetica, sans-serif;
  min-height: 100vh;
  max-height: fit-content;
  user-select: none;
}
a{
  cursor: pointer;
  text-decoration: none;
  color: #018b92;
}